/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
    --main-background-color:hsl(217, 54%, 11%);
    --card-background-color:hsl(216, 50%, 16%);
    --line-color:hsl(215, 32%, 27%);
    --view-color:hsl(178, 100%, 50%);
    --primary-color:hsl(215, 51%, 70%);
    --white-color:hsl(0, 0%, 100%);
}

p {
    font-size: 1.8rem;
    color:var(--primary-color);
}

/* BODY STYLES */
body {
    background-color:var(--main-background-color);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD STYLES */
.card-holder {
    background-color: var(--card-background-color);
    padding:2rem;
    width:380px;
    border-radius:2rem;
}

.main-images {
    position:relative;
}

.main-image {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius:2rem;
}
.view-icon {
    position:absolute;
    top:50%;
    left:50%;
    display:none;
}

/* HEADER TEXT STYLES */
.header-text {
    margin:1.8rem 0;
}

.header-text h1 {
    font-weight: 400;
    color:var(--white-color);
}

.header-text p {
    font-weight: 300;
    color:var(--primary-color);
    margin:1.8rem 0;
}
/* FIRST ICON GROUP STYLES */
.icons-group {
    display:flex;
    margin:1.8rem 0;
    flex-wrap:wrap;
}

.icons-group span {
    font-size:1.8rem;
    margin-left:1rem;
}
.etheruem-icon,
.clock-icon {
    display:flex;
    align-items: center;

}

.etheruem-icon {
    flex:1 1 10rem;
}

.etheruem-icon span {
    color:var(--view-color);
}

.clock-icon {
    flex:1 1 10rem;
}
.clock-icon span {
    color:var(--primary-color);
}
/* LINE STYLES */
hr {
    color:var(--line-color);
}

/* AUTHOR AVATAR STYLES */
.author-info {
    display:flex;
    align-items:center;
    margin-top: 1rem;
}

.avatar {
    width:5rem;
    height:5rem;
    margin-right:1.8rem;
    border:2px solid var(--white-color);
    border-radius:50%;
}

.author-name {
    color:var(--white-color);
}

/* MEDIA QUERIES  */
@media only screen and (max-width:375px) {
    html{
        font-size:45%;
    }

    .card-holder {
        width:80%;
    }
}